@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ready to Order some Pizzas!</p>
</div>

@{
    if (ViewBag.Confirm)
    {
        <a href = "/Pizza">Pizza Record</a>    
    }
    else
    {
        <a href = "/LoginAndReg">Login or Register</a>
    }
}