<h1>Welcome @ViewBag.User.FirstName to the Pizza Service!</h1>

<a href="Pizza/Order">Make the Order</a>

<h2>List of Pizza's Order</h2>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pizza Orders
  </button>
  <div class="dropdown-menu" aria-labelledby="Recent Orders">
    @{
        foreach (var item in @ViewBag.Pizzas)
        {
            <a class="dropdown-item" href="DetailPizza/@item.PizzaId">@item.Name</a><br>
        }

    }
  </div>
</div>


<a asp-action="LogOut">Log Out</a>